In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bogalusa,US,2021-08-05 06:26:28,30.7910,-89.8487,73.69,88,1,0.00
1,1,Saskylakh,RU,2021-08-05 06:26:28,71.9167,114.0833,71.17,25,66,15.19
2,2,Souillac,MU,2021-08-05 06:26:28,-20.5167,57.5167,73.78,56,20,14.97
3,3,Vaini,TO,2021-08-05 06:26:29,-21.2000,-175.2000,66.36,88,20,3.44
4,4,Ushuaia,AR,2021-08-05 06:24:14,-54.8000,-68.3000,47.86,66,40,16.11

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Manokwari,ID,2021-08-05 06:26:29,-0.8667,134.0833,77.07,85,100,2.26
10,10,Butaritari,KI,2021-08-05 06:26:30,3.0707,172.7902,83.57,65,42,7.27
11,11,Ust-Maya,RU,2021-08-05 06:26:30,60.4167,134.5333,80.47,30,44,1.79
13,13,Kapaa,US,2021-08-05 06:26:31,22.0752,-159.3190,80.92,77,40,3.00
14,14,Dingle,PH,2021-08-05 06:26:31,10.9995,122.6711,89.20,60,87,17.40
23,23,Cotonou,BJ,2021-08-05 06:26:33,6.3654,2.4183,76.08,87,100,10.20
24,24,Urengoy,RU,2021-08-05 06:26:34,65.9667,78.3667,76.12,51,21,7.74
25,25,Oktyabrskiy,RU,2021-08-05 06:26:34,54.4815,53.4710,75.94,57,79,11.59
27,27,Ixtapa,MX,2021-08-05 06:23:09,20.7000,-105.2000,78.22,97,100,3.00
32,32,Hasaki,JP,2021-08-05 06:26:35,35.7333,140.8333,88.20,73,2,7.90

In [18]:
preferred_cities_df.count()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
5     Manokwari      ID     77.07  -0.8667  134.0833
10   Butaritari      KI     83.57   3.0707  172.7902
11     Ust-Maya      RU     80.47  60.4167  134.5333
13        Kapaa      US     80.92  22.0752 -159.3190
14       Dingle      PH     89.20  10.9995  122.6711
23      Cotonou      BJ     76.08   6.3654    2.4183
24      Urengoy      RU     76.12  65.9667   78.3667
25  Oktyabrskiy      RU     75.94  54.4815   53.4710
27       Ixtapa      MX     78.22  20.7000 -105.2000
32       Hasaki      JP     88.20  35.7333  140.8333

In [36]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [41]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Manokwari,ID,77.07,-0.8667,134.0833,Swiss Belhotel Manokwari
10,Butaritari,KI,83.57,3.0707,172.7902,Isles Sunset Lodge
11,Ust-Maya,RU,80.47,60.4167,134.5333,
13,Kapaa,US,80.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Dingle,PH,89.20,10.9995,122.6711,SEGAYA PROPERTY
23,Cotonou,BJ,76.08,6.3654,2.4183,Novotel Cotonou Orisha
24,Urengoy,RU,76.12,65.9667,78.3667,Gostinnitsa Medveditsa
25,Oktyabrskiy,RU,75.94,54.4815,53.4710,Уязы-Тау гостиница
27,Ixtapa,MX,78.22,20.7000,-105.2000,Hotel Plaza Providencia
32,Hasaki,JP,88.20,35.7333,140.8333,Hotel Sunrise Choshi

In [43]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))