## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Asau,RO,2021-08-05 19:50:05,46.4333,26.4000,78.28,63,98,3.49,moderate rain
1,1,Kongolo,CD,2021-08-05 19:50:05,-5.3833,27.0000,85.41,30,67,2.95,broken clouds
2,2,Belaya Gora,RU,2021-08-05 19:50:05,68.5333,146.4167,40.55,86,100,4.07,overcast clouds
3,3,Leningradskiy,RU,2021-08-05 19:50:06,69.3833,178.4167,40.37,95,97,3.13,overcast clouds
4,4,Kodiak,US,2021-08-05 19:48:49,57.7900,-152.4072,60.31,77,90,0.00,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Asau,RO,2021-08-05 19:50:05,46.4333,26.4000,78.28,63,98,3.49,moderate rain
1,1,Kongolo,CD,2021-08-05 19:50:05,-5.3833,27.0000,85.41,30,67,2.95,broken clouds
6,6,Katsuura,JP,2021-08-05 19:50:07,35.1333,140.3000,80.71,87,62,6.98,broken clouds
8,8,College,US,2021-08-05 19:49:27,64.8569,-147.8028,75.20,56,20,0.00,smoke
11,11,Newton,US,2021-08-05 19:45:09,42.3370,-71.2092,70.14,89,90,1.99,overcast clouds
12,12,Hithadhoo,MV,2021-08-05 19:49:49,-0.6000,73.0833,80.65,78,99,6.98,heavy intensity rain
13,13,Hasaki,JP,2021-08-05 19:50:08,35.7333,140.8333,75.60,84,44,4.09,scattered clouds
15,15,Kapaa,US,2021-08-05 19:50:09,22.0752,-159.3190,82.72,75,40,5.01,light rain
16,16,Puyo,EC,2021-08-05 19:50:09,-1.4667,-77.9833,82.87,41,20,3.44,few clouds
18,18,Rikitea,PF,2021-08-05 19:50:10,-23.1203,-134.9692,73.92,75,29,18.16,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                245
City                   245
Country                245
Date                   245
Lat                    245
Lng                    245
Max Temp               245
Humidity               245
Cloudiness             245
Wind Speed             245
Current Description    245
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
import numpy as np
preferred_cities_df.replace("", np.nan, inplace=True)
preferred_cities_df.dropna(subset=["Country"], inplace=True)

clean_df = preferred_cities_df.copy()

/Users/sharonng/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4524: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
<ipython-input-12-dde38673d06e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  preferred_cities_df.dropna(subset=["Country"], inplace=True)

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Asau,RO,78.28,moderate rain,46.4333,26.4000,
1,Kongolo,CD,85.41,broken clouds,-5.3833,27.0000,
6,Katsuura,JP,80.71,broken clouds,35.1333,140.3000,
8,College,US,75.20,smoke,64.8569,-147.8028,
11,Newton,US,70.14,overcast clouds,42.3370,-71.2092,
12,Hithadhoo,MV,80.65,heavy intensity rain,-0.6000,73.0833,
13,Hasaki,JP,75.60,scattered clouds,35.7333,140.8333,
15,Kapaa,US,82.72,light rain,22.0752,-159.3190,
16,Puyo,EC,82.87,few clouds,-1.4667,-77.9833,
18,Rikitea,PF,73.92,scattered clouds,-23.1203,-134.9692,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

In [16]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace("", np.nan, inplace=True)
hotel_df.dropna(subset=["Hotel Name"], inplace=True)
clean_hotel_df = hotel_df.copy()

clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Asau,RO,78.28,moderate rain,46.4333,26.4000,Casa Mika Ciobanus
1,Kongolo,CD,85.41,broken clouds,-5.3833,27.0000,Mustafa Zengin Büyük Çerkes Düklüğü
6,Katsuura,JP,80.71,broken clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
8,College,US,75.20,smoke,64.8569,-147.8028,Pike's Waterfront Lodge
11,Newton,US,70.14,overcast clouds,42.3370,-71.2092,Sheraton Boston Needham Hotel
12,Hithadhoo,MV,80.65,heavy intensity rain,-0.6000,73.0833,Scoop Guest House
13,Hasaki,JP,75.60,scattered clouds,35.7333,140.8333,Hotel Sunrise Choshi
15,Kapaa,US,82.72,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
16,Puyo,EC,82.87,few clouds,-1.4667,-77.9833,Hosteria Kindi Wasi
18,Rikitea,PF,73.92,scattered clouds,-23.1203,-134.9692,People ThankYou

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))